/* IMPOSTAZIONI GENERALI */

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #191919;
}

.flex-start,
.trends-container,
.flex-just {
    display: flex;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.gray {
    color: #9f9f9f;
}

img.circle {
    border-radius: 50%;
}

img.rounded {
    border-radius: 25%;
}

/* HEADER */

header {
    background: #ffc017;
    font-size: 14px;
    padding: 25px 100px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #191919;
}

@media screen and (max-width: 991px) {
    header {
        padding: 25px 50px;
    }
}

header nav ul li {
    list-style: none;
    margin: 0 10px;
}

@media screen and (max-width: 767px) {

    header nav ul li:nth-child(1),
    header nav ul li:nth-child(2),
    header nav ul li:nth-child(3),
    .artwork {
        display: none;
    }
}

header nav ul li a {
    color: #191919;
    text-decoration: none;
}

header div button {
    background: #191919;
    border: none;
    border-radius: 99em;
    font-size: 14px;
    padding: 8px 16px;
}

header div button a,
section div button a {
    color: #fff;
    text-decoration: none;
}

.bg-white {
    background: #fff;
}

.bg-green {
    background: #1a8917;
}

.color-animation {
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 500ms;
}

/* FIRST SECTION - YELLOW BANNER */

.banner {
    background: #ffc017;
    position: relative;
    border-bottom: 1px solid #191919;
}

.banner div.first {
    padding: 90px 100px;
    width: 50%;
}

@media screen and (max-width: 991px) {
    .banner div.first {
        padding: 90px 50px;
    }
}

@media screen and (max-width: 767px) {
    .banner div.first {
        width: 100%;
    }
}

.banner div.first h2 {
    font-family: 'Spectral', serif;
    font-size: 106px;
}

@media screen and (max-width: 991px) {
    .banner div.first h2 {
        font-size: 70px;
    }
}

.banner div.first h3 {
    font-size: 24px;
    margin: 30px 0;
}

.banner div.first button {
    background: #191919;
    border: none;
    border-radius: 99em;
    font-size: 20px;
    padding: 8px 20px;
    width: 213px;
}

.banner div.artwork {
    position: absolute;
    right: 0;
    height: 100%;
}

/* SECOND SECTION - TRENDING */

.trending {
    padding: 50px 100px;
    border-bottom: 2px solid #ededed;
}

@media screen and (max-width: 991px) {
    .trending {
        padding: 50px;
    }
}

.trending div:first-of-type {
    margin-bottom: 20px;
}

.trending h3 {
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    text-transform: uppercase;
}

.trending .trends-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .trending .trends-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .trending .trends-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.trending span.number {
    color: #ededed;
    font-size: 32px;
    font-weight: 600;
    margin-right: 15px;
}

.trending h5 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

.trending h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}

.trending p {
    font-size: 12px;
}

@media screen and (max-width: 991px) {
    .star {
        display: none;
    }
}


/* THIRD SECTION - ARTICLES */

.articles {
    padding: 50px 50px 50px 100px;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    .articles {
        padding: 50px 0;
    }
}

.articles img.small {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.articles h5 {
    font-size: 13px;
}

.articles h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.articles h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.articles span.date {
    font-size: 13px;
}

.articles span.category {
    background: #ededed;
    border-radius: 100px;
    padding: 2px 8px;
}

.articles img.big {
    width: 200px;
    height: 134px;
    margin-left: 30px;
}

.articles .flex-just {
    width: 100%;
    justify-content: space-between;
}

/* spazio tra gli articoli */
.gap {
    gap: 35px;
}

/* dimensione articoli, date */
.size,
.day-time {
    width: 100%;
}

/* FOURTH SECTION - TOPICS */

.topics h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.col {
    flex-direction: column;
    margin: 50px 100px 0 0;
    width: 30%;
}

@media screen and (max-width: 991px) {

    /* classe aggiunta al div che contiene .articles, 
    .topics e .footer per cambiare flex-direction */
    .smaller-version {
        flex-direction: column;
        margin: 0 50px;
    }

    .col {
        width: 100%;
    }

    .topics {
        order: 1;
    }

    .footer {
        order: 2;
    }

    .articles {
        order: 3;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #ededed;
    padding-bottom: 10px;
}

.tag-container a {
    text-decoration: none;
}

.tag {
    border: 2px solid #ededed;
    font-size: 14px;
    margin: 0 10px 10px 0;
    padding: 8px 16px;
}

/* FIFTH SECTION - FOOTER */

.footer {
    margin-top: 20px;
}

.footer a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}